<p-table
  #dt
  [value]="allCar"
  [rows]="10"
  responsiveLayout="scroll"
  [(selection)]="selectedCar"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Kiralık Araçlar</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Model</th>
      <th>Image</th>
      <th>Price</th>
      <th>Marka</th>
      <th>Plate</th>
      <th>Status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>
        <p-tableCheckbox [value]="car.carId"></p-tableCheckbox>
      </td>
      <td>{{ car.modelName }}</td>
      <td>
        <img
          src="assets/image/car/{{ car.imageUrl }}"
          alt="Image"
          width="150"
          class="shadow-4"
        />
      </td>
      <td>{{ car.dailyPrice | currency: "USD" }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.plate }}</td>
      <td>
        <span [class]="'product-badge'">{{
          car.carState === 1 ? "Available" : "Rented"
        }}</span>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-rounded p-button-success me-2"
          (click)="createRental(car)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

