<p-carousel
  [value]="carModel"
  styleClass="custom-carousel"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-car pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3"></div>
        <div routerLink="/carDetail">
          <p-image
            src="assets/image/car/{{ indexImg }}.jpg"
            alt="Image"
            width="150"
          ></p-image>
          <h4 class="p-mb-1">{{ car.cityId }}</h4>
          <h6 class="p-mt-0 p-mb-3">${{ car.plate }}</h6>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>


